.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Style the page for display */ 
.wrapper{
  text-align: center;
}

/* Style the heading */
#header{
  margin: 2em;
}

/* Style the search input controls */
.searchOptions{
  margin: 5px;
}

/* Style the drop down label */
#dropDownLabel{
  margin-right: 8px;
}

/* Style the column holding the search controls */
#searchCol{
  margin-bottom: 2em;
}